In [2]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

Original Dataframe:
       Name category  value  score
0    Alice        A      4     81
1      Bob        B      3     81
2  Charlie        A      4     77
3    Alice        B      1     97
4      Bob        A      1     71
5  Charlie        B      3     88

In [4]:
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

Group by name and Aggregation with one column:
       Name  value
0    Alice      5
1      Bob      4
2  Charlie      7

In [6]:
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      5    178
1      Bob      4    152
2  Charlie      7    165

In [8]:
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      5
1      Bob      4
2  Charlie      7

In [10]:
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})

print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       5  2.5   1   4   178  89.0
Bob         4  2.0   1   3   152  76.0
Charlie     7  3.5   3   4   165  82.5