In [4]:
import pandas as pd
#Assign data
data={'name':['sai','yuva','poo','savi','ruba','raj','ravi'],'age':[20,18,19,21,20,17,19],'gender':['M','F','M','F','F','M','M'],'marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
        df=df.replace(to_replace='NaN', value=avg)
        print("\n Replacing NaN, with average marks:\n",df)

Original DataFrame:
    name  age gender marks
0   sai   20      M    90
1  yuva   18      F    76
2   poo   19      M   NaN
3  savi   21      F    74
4  ruba   20      F    65
5   raj   17      M   NaN
6  ravi   19      M    71

 Replacing NaN, with average marks:
    name  age gender  marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   21      F   74.0
4  ruba   20      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

 Replacing NaN, with average marks:
    name  age gender  marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   21      F   74.0
4  ruba   20      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

 Replacing NaN, with average marks:
    name  age gender  marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   21      F   74.0
4  ruba   20      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

 Replacing NaN, with average marks:
    name  age gender  marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   21      F   74.0
4  ruba   20      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

 Replacing NaN, with average marks:
    name  age gender  marks
0   sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   90.0
3  savi   21      F   74.0
4  ruba   20      F   65.0
5   raj   17      M   90.0
6  ravi   19      M   71.0

In [5]:
#filler top scoring students
df=df[df['marks']>=75]
#remove age row
df=df.drop(['age'],axis=1)
#display data
print("\n filtering and dropping function:\n",df)

 filtering and dropping function:
    name gender  marks
0   sai      M   90.0
1  yuva      F   76.0
2   poo      M   90.0
5   raj      M   90.0

In [6]:
one=pd.DataFrame({'name':['sai','raj','yuva','ram','sam'],'subject_id':['sub1','sub2','sub3','sub4','sub5'],'marks_scored':[98,90,92,85,89]},index=[1,2,3,4,5])
two=pd.DataFrame({'name':['sanju','ravi','shree','niki','rahul'],'subject_id':['sub2','sub3','sub4','sub5','sub6'],'marks_scored':[73,80,95,98,79]},index=[1,2,3,4,5])
print("\n original DataFrame:\n",one)
print("\n original DataFrame:\n",two)

 original DataFrame:
    name subject_id  marks_scored
1   sai       sub1            98
2   raj       sub2            90
3  yuva       sub3            92
4   ram       sub4            85
5   sam       sub5            89

 original DataFrame:
     name subject_id  marks_scored
1  sanju       sub2            73
2   ravi       sub3            80
3  shree       sub4            95
4   niki       sub5            98
5  rahul       sub6            79